# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.moved-aside
*.hmap
*.ipa

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Bundle
vendor/bundle

# macOS
.DS_Store
*.swp
*~.nib
